{% extends 'base.html' %}

{% block content %}
<h1>Editar Perfil</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h4>Datos del usuario</h4>
    {{ user_form.as_p }}

    <h4>Datos del perfil</h4>
    {{ profile_form.as_p }}

    <button type="submit" class="btn btn-success">Guardar cambios</button>
</form>
<a href="{% url 'password_change' %}" class="btn btn-warning mt-3">
    🔒 Cambiar contraseña
</a>

<a href="{% url 'profile' %}" class="btn btn-secondary mt-2">Volver</a>
{% endblock %}
